<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DALFactoryType" value="FrequentPatternMining.DAL.SqlServer.SqlServerDALFactory, FrequentPatternMining.DAL.SqlServer"/>
    <add key="DALType" value="FrequentPatternMining.DAL.SqlServer.SqlServerDAL, FrequentPatternMining.DAL.SqlServer"/>
    <!--<add key="DALFactoryType" value="FrequentPatternMining.DAL.MySQL.MySQLDALFactory, FrequentPatternMining.DAL.MySQL"/>
    <add key="DALType" value="FrequentPatternMining.DAL.MySQL.MySQLDAL, FrequentPatternMining.DAL.MySQL"/>-->
    <add key="AlgorithmFolder" value="Algorithms"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="BasketConnectionString" connectionString="Data Source=Wetnotebook;Initial Catalog=T40I10D100K;Integrated Security=True"/>-->
    <!--<add name="BasketConnectionString" connectionString="Data Source=Wetnotebook;Initial Catalog=T10I4D100K;Integrated Security=True"/>-->
    <add name="BasketConnectionString" connectionString="Data Source=Wetnotebook;Initial Catalog=BasketAnalysis;Integrated Security=True"/>
    <!--  <add name="BasketConnectionString" connectionString="Data Source=Wetnotebook;Initial Catalog=Movies;Integrated Security=True"/>-->
  </connectionStrings>

</configuration>