<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <!--  Uncomment lines below for using Sql Server DAL-->
    <!--<add key="DALFactoryType" value="FrequentPatternMining.DAL.SqlServer.SqlServerDALFactory, FrequentPatternMining.DAL.SqlServer"/>
    <add key="DALType" value="FrequentPatternMining.DAL.SqlServer.SqlServerDAL, FrequentPatternMining.DAL.SqlServer"/>-->
    
    <!--  Lines below for using FlatFile DAL -->
    <add key="DALFactoryType" value="FrequentPatternMining.DAL.FlatFile.FlatFileDALFactory, FrequentPatternMining.DAL.FlatFile"/>
    <add key="DALType" value="FrequentPatternMining.DAL.FlatFile.FlatFileDAL, FrequentPatternMining.DAL.FlatFile"/>
        
    <add key="AlgorithmFolder" value="Algorithms"/>
  </appSettings>
  
  <!-- Some examples of connectionstrings for both sql server and flat file datasource -->
  <connectionStrings>    
    <!--<add name="BasketConnectionString" connectionString="Data Source=Wetnotebook;Initial Catalog=T40I10D100K;Integrated Security=True"/>-->
    <!--<add name="BasketConnectionString" connectionString="Data Source=Wetnotebook;Initial Catalog=T10I4D100K;Integrated Security=True"/>-->
    <!--<add name="BasketConnectionString" connectionString="Data Source=Wetnotebook;Initial Catalog=BMS_POS;Integrated Security=True"/>-->    
    <!--<add name="BasketConnectionString" connectionString="D:\Luca\UNIVERSITA\Specialistica\Basi di Dati II\Elaborato\DataSet\BMS-WebView-1.dat"/>-->
    <add name="BasketConnectionString" connectionString="D:\Luca\UNIVERSITA\Specialistica\Basi di Dati II\Elaborato\DataSet\BMS-POS.dat"/>
  </connectionStrings>

</configuration>